*
{
    transition: 1s ease-in-out all;
}

div.big-round-container
{
    text-align: center;
}

div.big-round-container div.round
{
    color: white;
    opacity: 0;
}

div.big-round-container div.round-small
{
    opacity: 0;
    font-size: 2vw;
    font-weight: normal;
    font-family: "Agency Bold", 'Courier New', Courier, monospace;
    letter-spacing: 0.5vw;
    color: rgb(161, 161, 161);
    margin-bottom: 20px;
}

div.big-round-container div.difficulty
{
    letter-spacing: 0.5vw;
    margin-top: 20px;
    font-size: 2vw;
    color: rgb(187, 187, 187);
}